{
  "env": {
    "development": {
      "presets": "next/babel"
    },
    "production": {
      "presets": "next/babel"
    },
    "test": {
      "presets": [
        "react",
        "es2015",
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  },
  "plugins": [
    [
      "lodash",
      {
        "id": ["lodash", "semantic-ui-react"]
      }
    ]
  ]
}
